header {
  background-color: #000;
  padding: 10px;
}

header .logo {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

header nav .menu > li > a {
  color: #fff;
}

header nav .is-dropdown-submenu {
  background: #000;
  border: none;
}

header nav .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: #fff transparent transparent;
}

header .drilldown a {
  background: none;
}

header .drilldown .is-drilldown-submenu {
  background: #000;
}

header .mob-menu {
  text-align: right;
  position: absolute;
  top: 15px;
  right: 10px;
}

header .mob-menu a {
  color: #fff;
  font-size: 30px;
}

.vertical-space0, .vertical-space1, .vertical-space2, .vertical-space3 {
  display: block;
  clear: both;
  border: 0;
}

.vertical-space1 {
  height: 10px;
}

.vertical-space2 {
  height: 20px;
}

.vertical-space3 {
  height: 30px;
}

footer {
  background-color: #000;
  height: 140px;
}

footer .fa {
  padding: 30px;
  font-size: 40px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.odkazy {
  list-style: none;
  line-height: 28px;
  display: block;
}

.odkazy h4 {
  color: #fff;
}

.odkazy ul li > a {
  color: #fff;
}

.adresy {
  color: #fff;
  padding: 20px;
  display: block;
  line-height: 20px;
}

.scroll-up {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  color: #000;
}

#select1 {
  display: none;
}

#select2 {
  display: none;
}

#select3 {
  display: none;
}

#nadpis {
  text-align: center;
}
